body {
  background-color: rgba(252, 236, 251, 0.883);
}

.navbar {
  padding: 10px;
  background-color: rgb(253, 239, 255);
}

.nav-link {
  padding: 10px;
  margin: 20px;
}

.nav-logo {
  height: 100px;
  margin: 0px;
  padding: 0px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  height: 100%;
  background-color: brown;
}
