body {
  background-color: rgba(252, 236, 251, 0.883);
}
.navbar {
  margin: 0px;
  padding: 0px;
  background-color: rgb(245, 210, 250);
}

.nav-logo {
  height: 100%;
  margin: 0;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
